 <head>
    <meta charset="UTF-8">
    <title>Sample FirebaseUI App</title>
    <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * Firebase Console > Overview > Add Firebase to your web app. *
       ***************************************************************************************** -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css" />
      <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {{ firebase_config|tojson }};
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<script type="text/javascript">

    var newUserRegistered = false;

    function saveCredentialsAndRedirect(user) {
        user.getIdToken().then(function(idToken) {
                  localStorage.setItem('accessToken', idToken);
                  localStorage.setItem('refreshToken', user.refreshToken);
                  window.location.href = "{{ url_for('kudos') }}";
        });
    }

    function processSignedInUser(user) {
        if (newUserRegistered) {
            saveCredentialsAndRedirect(user);
            return; // Email already sent.
        }
        if (user.emailVerified) {
            console.log('Email is verified');
            saveCredentialsAndRedirect(user);
        } else {
            user.sendEmailVerification().then(function () {
                console.log("Email was sent!");
                saveCredentialsAndRedirect(user);
            }).catch(function (error) {
                saveCredentialsAndRedirect(user);
                console.log(error);
            });
        }
    }

      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            processSignedInUser(user);
        }
      });

      // FirebaseUI config.
      var uiConfig = {
          callbacks: {
            signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                if (authResult.user) {
                    processSignedInUser(authResult.user);
                    newUserRegistered = true; // Hacky hack to avoid sending email twice
                }
              // User successfully signed in.
              // Return type determines whether we continue the redirect automatically
              // or whether we leave that to developer to handle.
                console.log(JSON.stringify(authResult));
                console.log(redirectUrl);
              return false;
            }
          },
        signInSuccessUrl: '{{ url_for('kudos') }}',
        signInOptions: [
            {
                provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                requireDisplayName: false
            }
        ],
        // tosUrl and privacyPolicyUrl accept either url string or a callback
        // function.
        // Terms of service url/callback.
        tosUrl: 'google.com',
        // Privacy policy url/callback.
        privacyPolicyUrl: "google.com"
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
  </head>
<body>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
    <h1>Welcome to the kudo box</h1>
    <div id="firebaseui-auth-container"></div>
  </body>
